# Ignorer tout sauf les répertoires et fichiers spécifiés
/*
!api/
!client/
!.gitignore
!README.md

# Ignorer tous les fichiers .env
**/.env

# Ignorer tous les fichiers dans api et client, sauf ceux spécifiés
api/*
!api/*.md
!api/*.js

client/*
!client/*.md
!client/*.js
!client/*.html
!client/*.css